{% extends 'base.html' %}

{% block title %}Weather Dashboard{% endblock %}

{% block content %}
<!-- Table Responsive container prevents layout breakages -->
<div class="card shadow-sm mb-2 px-0">
    <h3 class="mb-4 text-center">Hourly Forecast</h3>

    <div class="card-body p-1">
        <!-- table-responsive ensures horizontal scrolling on small screens -->
        <div class="table-responsive">
            <table class="table table-bordered table-sm align-middle text-center small mb-0 w-100">

                <!-- Row 1: Hours -->
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-start">Time</th>
                        {% for row in hourly_weather_data %}
                        <th scope="col" style="min-width: 55px;">{{ row.date | safe }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    <!-- Row 2: Weather Symbols -->
                    <tr>
                        <th scope="row" class="text-start table-light">Weather</th>
                        {% for row in hourly_weather_data %}
                        <td>
                            <img src="https://cdn.meteocons.com/3.0.0-next.10/svg-static/fill/{{ row.weather_sym }}.svg"
                                alt="{{ row.weather_sym }}"
                                width="36"
                                height="36" />
                        </td>
                        {% endfor %}
                    </tr>

                    <!-- Row 3: Apparent Temperature -->
                    <tr>
                        <th scope="row" class="text-start table-light">Temp (F)</th>
                        {% for row in hourly_weather_data %}
                        <td class="fw-bold text-muted">{{ row.apparent_temperature }}</td>
                        {% endfor %}
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

{% block weatherblock %}
<div class="d-flex justify-content-between align-items-center mb-3 mt-2">
    <h5 class="fw-bold text-secondary">Additional weather blocks</h5>
</div>
{% endblock %}
{% endblock %}
